<a href="https://colab.research.google.com/github/rizthafrrynthii/Tugas-Algoritma/blob/main/2208541042_Riztha_Ferryanthi_Maulinda_Tugas_IV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Tugas 4

#1. While Loop
#selama nilainya bernilai true, maka programnya akan berjalan
#namun akan berhenti saat nilainya False

x=1   #jika disini ditaruh angka yang lebih dari 10, maka nilainya akan False dan tidak akan dijalankan
while x<10:  #hati-hati ketika menaruh tanda lebih/kurang dari, karena sangat mempengaruhi true/false nya
      print(x * '*')
      x+=1

*
**
***
****
*****
******
*******
********
*********

In [ ]:
#contoh lain
x=1
while x<2:
      y=x**2
      print(y)
      x=x-1
      print(x)
#program ini akan terus berulang karena tidak diberi batasan

In [ ]:
#2. List

#digunakan untuk menampilkan objek di dalam Phyton baik berupa string maupun berupa angka
#list dapat dipanggil urutannya, bahkan isinya juga dapat dirubah
#perhatikan contoh dibawah ini

hari = ['senin', 'selasa', 'rabu', 'kamis', 'jumat']
print(hari)

print(hari[2])
print(hari[-2])

#dapat diketahui bahwa urutan pertama dimulai dari 0, dan urutan terakhir yaitu -1
#kita juga dapat membuat selang seperti metode "string index"
#seperti contoh dibawah ini

print(hari[2:5])

['senin', 'selasa', 'rabu', 'kamis', 'jumat']
rabu
kamis
['rabu', 'kamis', 'jumat']

In [ ]:

#3. Metoda List

#list dapat ditambahkan atau dihilangkan isinya. 
#perhatikan contoh dibawah ini

hari.insert(1,'kamis') #pelajari lebih lanjut tentang penggunaan insert
print(hari)

#program ini digunakan untuk menambahkan objek pada list di urutan yang kita inginkan
#contoh lainnya :

hari.append('Sabtu')
print(hari)

#namun, outputnya mengikuti kode terakhir yang dijalankan

['senin', 'kamis', 'kamis', 'selasa', 'rabu', 'kamis', 'jumat']
['senin', 'kamis', 'kamis', 'selasa', 'rabu', 'kamis', 'jumat', 'Sabtu']

In [ ]:
#selanjutnya, kita bisa menghilangkan objek pada list
#contohnya :

hari.remove('rabu')
print(hari)

['senin', 'selasa', 'kamis', 'jumat']

In [ ]:
#untuk mengetahui panjang list, kita bisa menggunakan kode seperti berikut

print(len(hari))

4

In [ ]:
#4. For Loop

#ini digunakan untuk memanggil semua isi list

hari = ['senin', 'selasa', 'rabu', 'kamis', 'jumat']
for day in hari:
  print(day)

senin
selasa
rabu
kamis
jumat

In [ ]:
#kita bisa juga menggunakan operator while
#seperti dibawah ini

a=-5
while a < len(hari): #jika tanda nya dibalik maka nilainya akan menjadi false
  print(hari[a])
  a+=1

senin
selasa
rabu
kamis
jumat
senin
selasa
rabu
kamis
jumat

In [ ]:

#5. Fungsi Range

#digunakan untuk menampilkan objek/angka dengan pola yang kita inginkan
#untuk fungsi range, perlu dikombinasikan dengan for
#perhatikan contoh di bawah ini

for a in range(len(hari)):
    print(hari[a])

senin
selasa
rabu
kamis
jumat

In [ ]:
hari = range(7)
print(hari)

range(0, 7)

In [ ]:
for isi in hari:
  print(isi)

#program ini akan mencetak semua objek yang terdapat pada list hari

senin
selasa
rabu
kamis
jumat

In [ ]:
for isi in range(3,100,5): 
  #kode ini mencetak angka pertama yaitu 3 sampai 100 dengan urutan yaitu angka pertama ditambah 5, begitu seterusnya
  #jika angka 5 diganti dengan angka yang lebih besar dari 100, maka hanya akan keluar angka pertama
   print(isi)

3
8
13
18
23
28
33
38
43
48
53
58
63
68
73
78
83
88
93
98